#servicios{
    background-color: aqua;
}
#sobre-nosotros{
    background-color: rgba(25, 0, 255, 0.479);
}
#galeria-proyectos{
    background-color: aqua;
}

#contacto{
    background-color: rgba(25, 0, 255, 0.479);
}


img {
    height: 180px;
    width: 270px;
}