header{
    display: flex;
    justify-content:center;
}
nav {
  
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.bungee-spice-regular {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

  .nabla-1 {
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "EDPT" 100,
      "EHLT" 12;
  }
  .honk-1 {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 15,
      "SHLN" 50;
  }
  
  .graduate-regular {
    font-family: "Graduate", serif;
    font-weight: 400;
    font-style: normal;
  }

  .jacquard-24-regular {
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

#personales{
    display: flex;
    color: black;
    justify-content: flex-start;
}

body{
    background-color: rgb(105, 105, 105);
 
}

#titulo{
    color: white;
}
img{
    border-radius: 12px 50px 50px;
 height:  500px;
}
#btn {


    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;

    border-radius: 12px 50px 50px;
padding: 35px; /*espacio alrededor texto*/
margin-bottom: 10px;
background-color: #2e518b; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/

  }

a{
    
    
    text-decoration: none;
       color: white;
}



section{
    height: 200px ;
    display: flex;
    justify-content:center;
}


h1{
    padding: 10px;
    margin-right: 50px;
    color:white;
    border-right: 10px solid #ff6550;
}

li{
    list-style-type:none;
    height: 10px;

   padding-bottom: 10px;
} 

div {
    margin-right: 5px;
}

ul{
    margin: 0px;
}

form{
    display: flex;
    flex-direction: column
}

